{{ $baseurl := .Site.BaseUrl }}
{{ template "chrome/header.html" . }}
<h1>{{.Title}}</h1>
<div class="publishInfo">
  {{.Date.Format "2006-01-02"}} | Published in
  {{ range .Params.tags }}  <span class="label label-default"><a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a></span>  {{ end }}
</div>

<hr>
{{.Content}}

<hr>
<div style="font-size:80%">
<!--a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.fr"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a-->
Text lincesed under The <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.fr">License Creative Commons Attribution 3.0 Unported (CC BY 3.0)</a>.<br>
Code lincesed under The <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">License CC0 1.0 Universal Public Domain Dedication (CC0 1.0)</a>.
</div>
{{ template "chrome/comments.html" . }}
{{ template "chrome/footer.html" . }}
