<!DOCTYPE html>
<html>
  <head>
    <title>{{.Title}} - davidB'log</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='David Bernard' name='author'>
    <meta content='David Bernard' name='copyright'>
    <meta content='project, tools/maven, misc, lang/xsl, convention, lang/java, lang/scala, tools/eclipse, linux, lang/dart, vdrones, sugar, bookmarks, osgi, tips, tools/tycho, lift, todo' name='keywords'>
    <link href='//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css' media='screen' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href='{{.Site.BaseUrl}}/index.css' rel='stylesheet' type='text/css'>
    <link href='http://feeds.feedburner.com/davidB_log' rel='alternate' title="davidB'log" type='application/rss+xml'>
    <meta content='all, follow' name='robots'>
  </head>
  <body>
    <a class='sr-only' href='#content'>Skip navigation</a>
    <header class='navbar navbar-default navbar-fixed-top bs-docs-nav' role='banner'>
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='{{.Site.BaseUrl}}/'>davidB'log</a>
        </div>
        <div class='navbar-collapse collapse' id='navbar-main'>
          <ul class='nav navbar-nav'>
            <li>
              <a href="/categories/articles/index.html">articles</a>
            </li>
            <li>
              <a href="/tags/index.html">tags</a>
            </li>
            <li>
              <a href="/about.html">about</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class='container bs-docs-container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-6 col-md-8' id='content'>